In [1]:
import pandas as pd 
import numpy as np 
import sys

sys.path.append(r"C:\Users\radek\Git-Hub\Final_Project_Ironhack\00 - Utils")
import db_utils as db

In [21]:
sql= '''SELECT 
* 
FROM weather_tmp w
LEFT JOIN airquality_tmp_v2 a
ON w.datetime = a.Date AND w.address = a.City
WHERE w.address='Marseille';'''

In [22]:
marseille = pd.read_sql(sql, db.engine)

In [23]:
marseille.head(2)

,latitude,longitude,address,datetime,datetimeEpoch,tempmax,tempmin,temp,humidity,precip,...,conditions,description,date,pm25,pm10,o3,no2,so2,co,City
0,43.2934,5.37132,Marseille,2015-01-01,1420066800,9.2,0.1,4.2,72.63,0.2,...,"Rain, Partially cloudy",Clearing in the afternoon with early morning r...,2015-01-01,108.0,32.0,NaN,NaN,NaN,None,Marseille
1,43.2934,5.37132,Marseille,2015-01-02,1420153200,12.9,-1.3,6.1,63.60,0.2,...,Rain,Clear conditions throughout the day with after...,2015-01-02,83.0,14.0,NaN,NaN,NaN,None,Marseille

In [20]:
marseille.to_csv(r'C:\Users\radek\Git-Hub\Final_Project_Ironhack\04 - Data Cleaning\Marseille.csv', index_label=False)